/* Document styling */
body {
	font-size: 14px;
}
#outputs {
  width: 1900px;
  float: left;
}
.chart {
	width: 456px;
	margin-left: 19px;
	float: left;
	border: 2px solid bisque;
	border-radius: 5px;
}
#bar {
	width: 950px;
	height: 475px;
	float: left;
}
#inputs {
	float: left;
	width: 1881px;
	margin-left: 19px;
}

.slider {
	height: 152px;
	width: 5.5%;
	/* padding-bottom: 2.5em; */
	float: left;
}
.sliderBody {
	height: 66%;
	margin-bottom: 4%;
	/* padding-bottom: 2.5em; */
	float: left;
}
.sliderText {
	height: 30%;
	font-size: 11px;
	/* padding-bottom: 2.5em; */
}
.paraBox {
	width: 3.5em;
}

#sliders {
	width: 80%;
	float: left;
}
#previewChart {
	width: 324px;
	float: left;
}
.btn {
	margin-bottom: 4px;
	font-size: 13px;
}

#saved {
	height: 40px;
	float: left;
}

#fileInput {
	display: none;
}
.rc-slider-mark-text {
	font-size: xx-small;
}

#controls {
	height: 152px;
	float: left;
}

.ReactTable {
	float: left;
	width: 100%;
}