/* Document styling */
body {
	margin: 0 auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}
#outputs {
  width: 100%;
  margin: auto;
}
.chart {
  width: 40%;
	float: left;
	text-align:center
}
#bar {
	width: 20%;
	height: 40vw;
  float: left;
}
