/* Document styling */
body {
	font-size: 1vw;
}
.chart {
	width: 48.5vw;
	margin: 0.25vw;
	float: left;
	border: 2px solid rgb(116, 116, 116);
	border-radius: 5px;
}
#bar {
	width: 50%;
	float: left;
}

#parameters {
	border: 2px solid rgb(116, 116, 116);
	border-radius: 5px;
	margin: 0.25vw;
	width: 72.75vw;
	float: left;
	height: 26.58vw;
}
.slider {
	height: 33.33%;
	width: 7%;
	float: left;
	padding: 0.5%;
}
.sliderBody {
	height: 100%;
	float: left;
}
.sliderText {
	font-size: 0.5vw;
	height: 100%;
	text-orientation: sideways;
	writing-mode: sideways-lr;
	float: left;
	margin-right: 2%
}

#previewChart {
	width: 24.25vw;
	float: left;
	margin: 0.25vw;
}
.btn {
	margin-bottom: 1%;
	font-size: 0.7vw;
}

#fileInput {
	display: none;
}
.rc-slider-mark-text {
	font-size: xx-small;
}

#controls {
	height: 152px;
	float: left;
}

.ReactTable {
	float: left;
	width: 100%;
}