/* SVG styling */
svg {
	float: left;
}

svg.heat {
	width: 100%;
}

svg.cell{
	width:58.3%;
}
svg#rDendo {
	width: 41.7%;
}
svg#legend {
	width: 41.7%;
}

path {
	stroke: #777;
	stroke-width: 0.1px;
	/* pointer-events: all; */
}

.labels {
	fill: #aaa;
	font-weight: 200;
	letter-spacing: -1px;
}
.labels.segment {
	font-size: 10px;
}


.axis text {
	font: 10px sans-serif;
	opacity: 0.5;
}
  
  
.brush {
fill: #bfbfbf;
opacity: 0.7; 
stroke: black;
stroke-width: 10;

}

.indi{
	fill: #bfbfbf;
	opacity: 0.7; 
	stroke: black;
	stroke-width: 1;
}

.axis line,
.axis circle {
fill: none;
stroke: #777;
stroke-dasharray: 4,4;
opacity: 0.2;
}

.axis :last-of-type circle {
stroke: #269900;
stroke-dasharray: 4,4;
opacity: 0.4;
}
.std1 {
fill: #bfbfbf;
opacity: 0.7;
stroke: black;  
stroke-width: 0.5;
}
.std2 {
fill: #d9d9d9;
opacity: 0.7;
stroke: black;
stroke-width: 0.5;
}

.resize {
	fill: black;
}

rect.bordered {
	stroke: #E6E6E6;
	stroke-width:0.3px;   
  }

svg.matrixChoose {
	margin: 0.3vw;
}